.window{
    background: #111;
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    .top{
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
        border-bottom: 2px solid rgba(113, 113, 113, 0.297);
        .dots{
        display: flex;
        gap: 0.5rem;
        .dot{
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
        }
        .red{
            background: rgb(252, 58, 58);
        }
        .yellow{
            background: rgb(255, 255, 65);
        }
        .green{
            background: rgb(66, 255, 66);
        }
    }
    }
    .windowsec{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }
    *::-webkit-scrollbar-thumb{
        background: rgba(168,168,168,0.4);
        border-radius: 4px;
    }
}