* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background: #000;
    background-image: url(https://i.pinimg.com/1200x/c9/87/c4/c987c4c4f4be701a27f5cdf35c078cda.jpg);
    background-size: cover;
    background-position: center;
}

